GROQ_API_KEY=
SCRAPER_PORT=4503
VALIDATOR_PRIVATE_KEY=
RPC_URL=https://rpc-testnet.gokite.ai/
ENABLE_TUNNEL=false
VALIDATOR_CONSENSUS_CONTRACT=0xb8F2233Be2c413bB9235F51E1531B3C64A135b25
REGISTRY_URL=http://localhost:3001
